nav {
    .nav-mini{
      background: #000;
      padding: 14px;
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 30px;
      button{
        background: none;
        color: #fff;
        font-size: 12.5px;
        letter-spacing: 1px;
        font-weight: 600;
      }
      @media screen and (max-width:1280px){
         padding: 10px;
      }
      @media screen and (max-width:1025px){
        button{
          display: none;
        }
        height: 35px;
      }
      @media screen and (max-width:768px){
        display: none;
      }
    }
    .container {
  
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 22px 8px;
      ul {
        display: flex;
        align-items: center;
        gap: 40px;     
        button {
          padding: 7px 28px;
          border: 2px solid #f57f29;
          color: #f57f29;
          background: #fff;
          transition: .3s;
          font-size: 17px;
          font-weight: 800;
          &:hover{
            background: #f57f29;
            color: #fff;
          }
        }
      }
      img {
        max-width: 250px;
        cursor: pointer;
      }
      .nav-right {
        display: flex;
        align-items: center;
        button{
          padding: 0 20px;
        }
        .lineV {
            display: flex;
          width: 1px;
          height: 28px;
          border: 1px solid #b1b1b188;
        }
        h1 {
          margin: 5px 15px;
        }
      }
      .nav-link{
          text-transform: uppercase;
          font-size: 14px;
          line-height: 18px;
          font-weight: 800;
          color:#000;
          cursor: pointer;
          transition: .4s;
          background: none;
          &:hover{
            color: #f57f29;
          }
      }
    }
  }